@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981;
  /* Emerald 500 */
  --color-brand-secondary: #064e3b;
  /* Emerald 900 */
  --font-display: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', system-ui, sans-serif;
}