@import "tailwindcss";

@theme {
  --color-brand-primary: #0ea5e9;
  /* Sky 500 */
  --color-brand-secondary: #6366f1;
  /* Indigo 500 */
  --font-display: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', system-ui, sans-serif;
}